vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Feb 2014 16:25:50 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|26 Feb 2014 16:25:50 -0000
vti_filesize:IR|5683
vti_cachedlinkinfo:VX|S|SpryMenuBarDown.gif S|SpryMenuBarRight.gif S|SpryMenuBarDownHover.gif S|SpryMenuBarRightHover.gif
vti_cachedsvcrellinks:VX|FSUS|SpryAssets/SpryMenuBarDown.gif FSUS|SpryAssets/SpryMenuBarRight.gif FSUS|SpryAssets/SpryMenuBarDownHover.gif FSUS|SpryAssets/SpryMenuBarRightHover.gif
vti_lineageid:SR|{E56F68BC-C571-493F-8CB2-293F72493E15}
vti_backlinkinfo:VX|
